
      body {
        background-color: #9999ff;
        color: #0066cc;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
      }
      
      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        
      }
      
      .product-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
      }
      
      .product-item {
        width: 120px;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #fff;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
      }
      h1 {
        text-align: center;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        box-shadow: 0 0 10px 1px rgb(0 0 0 / 30%)
        width: 180px;
        height: 150px;
      }
      
      .product-item h2 {
        font-size: 18px;
        text-align: center;
        margin-top: 0;
      }
      
      .product-item p {
        margin: 0;
        text-align: center;
      }